{% extends 'main/layout.html' %}

{% block title %}Про нас{% endblock %}

{% block style %}

{% endblock %}

{% block content %}
    <h1>Про нашу компанію</h1>
    <p>
        Тут ви можете розмістити інформацію про вашу компанію.
        Розкажіть про вашу історію, місію, цінності та те, що відрізняє вас від конкурентів.
        Використовуйте яскраві та переконливі слова, щоб зацікавити відвідувачів.
    </p>

    <h2>Наша команда</h2>
    <p>
        Представте свою команду. Додайте фотографії та короткий опис кожного члена.
        Розкажіть про їхні досвід та досягнення.
    </p>

    <h2>Наші послуги</h2>
    <p>
        Опишіть послуги, які ви пропонуєте.
        Використовуйте маркетингові гасла та переваги, щоб виділити ваші пропозиції.
    </p>

    <h2>Контакти</h2>
    <p>
        Вкажіть контактну інформацію: адресу, телефон, електронну пошту, соціальні мережі.
        Додайте форму зворотного зв'язку, якщо це необхідно.
    </p>
        {% endblock %}