{% extends 'main/layout.html' %}
{% block title %}допоможем чим зможем{% endblock %}
{% block style %}
body {
   
{% endblock %}
{% block content %}
    <h1>Центр допомоги</h1>

    <h2>Часті питання</h2>
    <ul>
        <li><a href="#faq1">Як зареєструватися?</a></li>
        <li><a href="#faq2">Як відновити пароль?</a></li>
        <li><a href="#faq3">Як зробити замовлення?</a></li>
    </ul>

    <h3 id="faq1">Як зареєструватися?</h3>
    <p>
        Щоб зареєструватися, натисніть кнопку "Реєстрація" на головній сторінці. Заповніть усі поля форми та натисніть кнопку "Зареєструватися".
    </p>

    <h3 id="faq2">Як відновити пароль?</h3>
    <p>
        Якщо ви забули пароль, натисніть на посилання "Забули пароль?" на сторінці входу. Введіть свою електронну пошту і натисніть кнопку "Відправити". На вашу електронну пошту буде надіслано посилання для скидання пароля.
    </p>

    <h3 id="faq3">Як зробити замовлення?</h3>
    <p>
        Щоб зробити замовлення, додайте потрібні товари в кошик. Після цього перейдіть до кошика і натисніть кнопку "Оформити замовлення". Заповніть форму доставки та оплати.
    </p>

    <h2>Зв'язатися з нами</h2>
    <p>
        Якщо ви не знайшли відповіді на свої запитання, будь ласка, зв'яжіться з нами за адресою email@example.com або за телефоном +380 (123) 456-78-90.
    </p>
{% endblock %}
